/* styles.css */
.custom-banner {
    padding: 20px;
    display: none; /* Hide by default */
  }
  
  /* Media query for 480px to 921px */
  @media (min-width: 40px) and (max-width: 950px) {
    .custom-banner {
      display: block; /* Show in the specified viewport range */
      margin-top: -30px;
    }}
  
img, .img {
    max-width: 100%;
    max-height: fit-content;
    transition: all .3s ease-out 0s;
    
}

img, svg {
    vertical-align: middle;
}
*, :after, :before {
    box-sizing: border-box;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.features-img {
    flex-grow: 1;
    width: 231.7px;
    height: 174px;
    text-align: center;
}

.row {
    --bs-gutter-x: 30px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
.features-item {
    display: flex;
    height: 255.5px;
    align-items: center;
    background: var(--tg-secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.46);
    border-radius: 15px;
    padding: 40px 70px 40px 55px;
    margin-bottom: 30px;
}

@media (max-width: 1199.98px) {
    .features-item {
        padding: 40px 30px;
    }
}
@media (max-width: 767.98px) {
    .features-item {
        height: auto;
        padding: 40px;
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (max-width: 991.98px) {
    .features-item {
        height: auto;
        padding: 40px;
    }
}
@media (max-width: 390px) {
    .pricechange{
        margin-left: 20px;
        padding-left: 20px;
        margin-right: 20px;
        padding-right: 20px;
        /* color: black; */
       } 
}
/* 390px × 844px */
.container1 {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.container1 {
     padding: 2% 10% ;
} 
.leftToRight {
    animation: leftToRight 5s linear infinite;
   
}
.rightToLeft{
    animation: rightToLeft 5s linear infinite;
}
@keyframes leftToRight {
    0% { transform: translateX(-7%); }
    25% { transform: translateX(0); }
    50% { transform: translateX(7%); }
    75% { transform: translateX(0); }
    100% { transform: translateX(-7%); }
  }
  @keyframes rightToLeft {
    0% { transform: translateY(-7%); }
    25% { transform: translateY(0); }
    50% { transform: translateY(7%); }
    75% { transform: translateY(0); }
    100% { transform: translateY(-7%); }
  }

.features-bg {
    /* background-image: "/images/imageab8.png"; */
    background: linear-gradient(180deg,#20c997 0%, #1D2B38 50% ,#000000 100%);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    position: relative;
    margin: 0 20px;
    overflow: hidden;
}

*, :after, :before {
    box-sizing: border-box;
}
section {
    display: block;
    unicode-bidi: isolate;
}
.features-item-two {
    border-radius: 15px;
    background: linear-gradient(180deg, #ffffff24, #fff0);
    box-shadow: 0 16px 18px #010c321a;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
    transition: .3s linear;
}
.features-inner-wrap {
    position: relative;
    padding: 140px 0;
    z-index: 1;
}
.position-sticky{
position: -webkit-sticky;
position: sticky;
/* min-width: 46vw; 
max-width: 46vw; */
/* background-color: #001aff; */
left: 0;
top: auto;
text-align: left; 
z-index: 2;
}
/* @media only screen and (max-width: 475px) {
    .position-sticky{
        /* margin-right:+100px ; 
        padding-right: 10px;
        color: red;
        space-between:10px;
    }
} */
.td_div2{
    margin-right:20px;
}

/* .row {
    --bs-gutter-x: 30px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
} */
.h2{
    font-family: "Lato", sans-serif;
    /* color: #ff0000; */
    margin-bottom: 0;
    h2 {
        font-size: 2rem;
    }
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--tg-heading-font-family);
    color: var(--tg-heading-font-color);
    margin-top: 0;
    margin-bottom: .7rem;
    font-style: normal;
    line-height: var(--tg-heading-line-height);
    font-weight: var(--tg-heading-font-weight);
    text-transform: inherit;
}
.h2, h2 {
    font-size: calc(1.325rem + .9vw);
}
.h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.features-content-two .title {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.72px;
}
@media (min-width: 1200px) {
    .h2 {
        font-size: 1.rem;
    }
}
@media (max-width: 767.98px) {
    .banner-bg, .features-bg, .team-bg {
        margin: 0;
    }
}
@media (max-width: 767.98px) {
    .features-bg {
        left: 0;
        right: 0;
    }
}
.section-title-two.section-title .title {
    font-size: 39px;
    background: linear-gradient(180deg, var(--tg-white) 0%, var(--tg-primary-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 767.98px) {
    .section-title-two.section-title .title{
        font-size: 26px;
    }
}
@media (max-width: 991.98px) {
    .section-title .title {
        font-size: 26px;
    }
}
@media (max-width: 1199.98px) {
    .section-title .title {
        font-size: 28px;
    }
}
.features-content-two .title {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.72px;
}
img, .img {
    max-width: 100%;
    transition: all .3s ease-out 0s;
}
img, svg {
    vertical-align: middle;
}
.features-img-two img {
    height: auto;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.section-title .title {
    background: linear-gradient(180deg, var(--tg-white) 0%, var(--tg-gray) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-bottom: 0;
    letter-spacing: -1.5px;
}
.text-center {
    text-align: center !important;
}
.section-title .title img {
    border-radius: 50px;
    margin: 0 5px;
}
.features-shape-wrap img {
    position: absolute;
}
.features-shape-wrap img:nth-child(1) {
    left: 15%;
    bottom: 6%;
}
.features-shape-wrap img:nth-child(2) {
    right: 9%;
    bottom: 0%;
}
.features-line-shape {
    width: 100%;
    height: 2px;
    background: linear-gradient(225deg, #010314, #ffffff73 54.98%, #010314fc);
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
}
:root {
    --tg-body-font-family: "Outfit", sans-serif;
    --tg-heading-font-family: "Plus Jakarta Sans", sans-serif;
    --tg-primary-color: #44A08D;
    --tg-secondary-color: #0F101E;
    --tg-body-font-color: #92939E;
    --tg-heading-font-color: #FFFFFF;
    --tg-paragraph-color: #92939E;
    --tg-body-font-size: 16px;
    --tg-body-font-weight: 400;
    --tg-heading-font-weight: 600;
    --tg-body-line-height: 1.62;
    --tg-heading-line-height: 1.2;
    --tg-blue: #0d6efd;
    --tg-indigo: #6610f2;
    --tg-purple: #6f42c1;
    --tg-pink: #d63384;
    --tg-red: #dc3545;
    --tg-orange: #fd7e14;
    --tg-yellow: #ffc107;
    --tg-green: #093637;
    --tg-teal: #20c997;
    --tg-cyan: #0dcaf0;
    --tg-white: #ffffff;
    --tg-black: #010314;
    --tg-gray: #93B2C8;
    --facebook: #3b5998;
    --twitter: #00acee;
    --linkedin: #1976d2;
    --pinterest: #3b5998;
    --youtube: #c4302b;
    --skype: #00aff0;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
}
.root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, .7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-offset: 16px;
    --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
    --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
    --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
    --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-toast-bd-radius: 6px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient( to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55 );
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    --toastify-color-progress-bgo: .2;
}

*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--tg-secondary-color);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(0deg, var(--tg-primary-color) 0%, var(--tg-green) 47.6%, var(--tg-black) 99.23%);
}
::-webkit-scrollbar-track {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: var(--tg-secondary-color);
    border-radius: 10px;
}

::selection {
    background: var(--tg-primary-color);
    color: var(--tg-white);
    text-shadow: none;
}
/* adding new css */
.css-2kv7k5 {
     width: 100%; 
    max-width: 1248px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.css-t1l750 .crypto-portfolio__item:not(:last-child) {
    margin-bottom: 25px;
}
.css-tbzthe {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;
}
.css-t1l750 .crypto-portfolio__section {
    padding: 40px 16px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 0px;
}
/* .css-t1l750 .crypto-portfolio__row {
    flex-direction: column;
} */

.css-t1l750 .body200 {
    display: block;
    margin-bottom: 23px;
}
.css-1uedhof {
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: rgb(211, 213, 215);
}
.css-t1l750 .h3 {
    margin-bottom: 17px;
}
.css-2l1rwd {
    margin: 0px;
    font-family: "Space Grotesk", Roboto, Poppins, Inter, sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: rgb(211, 213, 215);
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.css-1qivp9o[data-variant="primary"] {
    color: rgb(255, 255, 255);
    background: linear-gradient(97.53deg, rgb(26, 167, 115) 0%, rgb(31, 204, 152) 100%);
}
.css-1qivp9o {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 16px 24px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: inherit;
    box-shadow: none;
    background: transparent;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    appearance: none;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}
.css-1qivp9o[data-variant="primary"] {
    color: rgb(255, 255, 255);
    background: linear-gradient(97.53deg, rgb(26, 167, 115) 0%, rgb(31, 204, 152) 100%);
}
.css-1qivp9o {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 16px 24px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: inherit;
    box-shadow: none;
    background: transparent;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    appearance: none;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}
button {
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}
.css-t1l750 .crypto-portfolio__list__item:not(:last-child) {
    margin-bottom: 15px;
}
.css-t1l750 .crypto-portfolio__list__item {
    position: relative;
}

.css-ujzq51 {
    padding-left: 7px;
    padding-right: 7px;
    flex: 0 0 100%;
    max-width: 100%;
}
.crypto-portfolio__figure{
    height: 602px;
    width: 386px;
    display: none;
    margin-right: 30px;
}
@media  (min-width: 768px) {
    .crypto-portfolio__figure{
        display: block;
    }
}

.css-1ywff37 .steps__card__number {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 8px;
    letter-spacing: -0.03em;
    color: transparent;
    -webkit-text-stroke: 1px rgb(97, 224, 199);
}

@media only screen and (min-width: 768px) {
    .css-1ywff37 .steps__card__number {
        width: 80px;
        height: 72px;
        font-size: 64px;
        line-height: 72px;
        margin-right: 24px;
        margin-bottom: 4px;
    }
}
.css-1ywff37 .steps__card {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.css-1ywff37 .steps__card {
display: flex;
flex-flow: column wrap;
padding: 15px 10px 15px 16px;
backdrop-filter: blur(12px);
border: 1px solid rgba(255, 255, 255, 0.08);
border-radius: 0px;
}
@media only screen and (min-width: 768px) {
    .css-1ywff37 .steps__card {
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        height: 100%;
    }
}

.css-t1l750 .crypto-portfolio__list {
    margin-bottom: 20px;
}

.css-1ywff37 .steps__card .body400 {
    margin: 0px;
    padding: 0px;
    display: block;
    color: rgb(202, 202, 202);
}

.css-g24lph {
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(211, 213, 215);
}
.css-1ywff37 .steps__card .body200 {
    display: block;
    margin: 0px 0px 5px;
    color: rgb(178, 181, 184);
}
@media only screen and (min-width: 768px) {
    .css-1ywff37 .steps__card .body200 {
        margin-bottom: 0px;
    }
}

.css-t1l750 .body200 {
    display: block;
    margin-bottom: 23px;
}
@media only screen and (min-width: 768px) {
    .css-t1l750 .body200 {
        margin-bottom: 40px;
    }
}

.css-1uedhof {
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: rgb(211, 213, 215);
}

.css-t1l750 .h3 {
    margin-bottom: 17px;
}
@media only screen and (min-width: 1280px) {
    .css-t1l750 .h3 {
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 768px) {
    .css-t1l750 .h3 {
        margin-bottom: 25px;
    }
}
.css-2l1rwd {
    margin: 0px;
    font-family: "Space Grotesk", Roboto, Poppins, Inter, sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: rgb(211, 213, 215);
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


.css-t1l750 .crypto-portfolio__list__item:not(:last-child) {
    margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
    .css-t1l750 .crypto-portfolio__list__item:not(:last-child) {
        margin-bottom: 24px;
    }
}
.css-t1l750 .crypto-portfolio__list__item {
    position: relative;
    flex-direction: row-reverse;
}
.css-1ywff37 .steps__card__details {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.css-t1l750 .crypto-portfolio__list__icon {
    position: absolute;
    left: 16px;
    bottom: -12px;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: rgba(14, 15, 16, 0.01);
    backdrop-filter: blur(8px);
    transform: rotate(90deg);
    border-radius: 50%;
    color: rgb(96, 98, 99);
    border: 1px solid rgba(255, 255, 255, 0.08);
}
.css-t1l750 .crypto-portfolio__list__item:not(:last-child) .crypto-portfolio__list__icon {
    display: flex;
}

.MuiTypography-h3 {
    font-family: "Space Grotesk", Roboto, Poppins, Inter, sans-serif;
    font-weight: 700;
    font-size: 70px;
     line-height: 64px; 
    letter-spacing: -0.03em;
}
@media (max-width:  1280px) {
    .MuiTypography-h3 {
        font-size: 50px; 
    }
}
@media (max-width: 768px) {
    .MuiTypography-h3 {
        font-size: 40px; 
    }
}

.css-t1l750 .crypto-portfolio__list__icon {
    position: absolute;
    left: 16px;
    bottom: -12px;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(8px);
    transform: rotate(90deg);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(205, 204, 204);
}
@media only screen and (min-width: 768px) {
    .css-t1l750 .crypto-portfolio__list__icon {
        left: 40px;
        bottom: -16px;
        width: 32px;
        height: 32px;
    }
    
}
@media only screen and (min-width: 1280px) {
    .css-t1l750 .crypto-portfolio__section {
        padding: 100px 102px;
    }
    .css-t1l750 .h3 {
        margin-bottom: 30px;
    }
    .css-t1l750 .crypto-portfolio__row {
        /* /* display: flex;  */
        flex-direction: row-reverse;
    }
    .css-t1l750 .crypto-portfolio__item:not(:last-child) {
        margin-bottom: 0px;
    }
    .css-ujzq51.md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media only screen and (min-width: 768px) {
    .css-t1l750 .body200 {
        margin-bottom: 40px;
    }
    .css-t1l750 .h3 {
        margin-bottom: 25px;
    }
    .css-t1l750 .crypto-portfolio__section {
        padding: 60px 40px;
    }
    /* .css-t1l750 .crypto-portfolio__row {
        /* display: flex; 
        flex-direction: row-reverse;
    } */
    .css-tbzthe {
        margin-left: -12px;
        margin-right: -12px;
    }
    .css-t1l750 .crypto-portfolio__item:not(:last-child) {
        margin-bottom: 40px;
    }
    .css-ujzq51 {
        padding-left: 12px;
        padding-right: 12px;
    }
    .css-t1l750 .crypto-portfolio__list {
        margin-bottom: 40px;
    }
    .css-t1l750 .crypto-portfolio__list__item:not(:last-child) {
        margin-bottom: 24px;
    }
}
.text-align{
    display: flex;
    flex-direction: row;
    width: 330px;
    justify-content: space-between;
}
/* .hero-section__announcement{
    width: 600px;
} */

@media (max-width: 768px) {
    .text-align{
        width: 345px;
    }
    .hero-section__announcement1{
        width: 345px;
    }
}
@media (max-width: 368px) {
    .text-align{
        width:  310px;
    }
    .hero-section__announcement1{
        width: 330px;
    }
}
.slideranoucment{
    margin-top:auto;
}
.hero-section__announcement1{
    width: 600px;
    display: flex;
    flex-direction:row;
}

@media (max-width: 768px) {
    .hero-section__announcement1{
        flex-direction: column;
    }

}

