strong {
    font-weight: bold;
}
strong, b {
    font-weight: 700;
}
 .u-join-now-name strong {
    height: 13px;
    padding: 2px 4px;
    font-size: 10px;
    line-height: 11px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, sans-serif;
    color: rgb(29, 30, 31);
    background: linear-gradient(97.53deg, rgb(26, 167, 115) 0%, rgb(31, 204, 152) 100%);
    border-radius: 0px;
}
.u-join-now-name i {
    margin-right: 4px;
    margin: 2px; 
    right: 0;
    margin-top: 5px; 
    font-style:normal;
    font-style: bold;
}
.u-join-now {
    margin-right: 12px;
    padding: 2px 0px 2px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    transition: color 0.2s ease 0s;
    text-decoration: none;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: rgb(23, 160, 117);
    font-weight: 500;
    border-radius: 0px;
}
.btn-group :hover{
    background-color: rgb(55, 56, 55);
}
 a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
} 
 .css-l2mnlf {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
} 
.icon-user{
    color:rgb(23, 160, 117);
} 
@media (max-width: 700.98px) {
    .u-join-now{
        font-size: 10px;
    }
}